.hedingcourse{
    color: #282262;
    text-align: center;
}

.Input{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px
}
.input-button{
 align-items: right;
}
 .edit-delete{
    /* display:flex ; */
 }
 .timings {
     display:  flex;
     justify-content: space-between;
     margin-top: 10px;
     height: 40px;
     font-size: medium;
 }
