.headinglogin{
    color: #282262;
    margin-top: 0%;
    
}
.Main{
justify-content: center;
align-items: center;
display: flex;
margin-top: 5%;
margin-bottom: 5%;
}
.main-logo{
    height: 60%;
    width: 60%;
    margin-top: 0%;
}
.card{
    background-color: darkgray;
}